{% extends "base.njk" %}

{% block title %}Contact | SkillNest{% endblock %}

{% block content %}
  <div class="overlay">
    <div class="form-container">
      <form>
        <div class="mb-3">
          <label for="name">Your Name</label>
          <input
            type="text"
            class="form-control"
            id="name"
            placeholder="Enter your name"
          />
        </div>
        <div class="mb-3">
          <label for="email">Your Email</label>
          <input
            type="email"
            class="form-control"
            id="email"
            placeholder="Enter your email"
          />
        </div>
        <div class="mb-3">
          <label for="message">Message</label>
          <textarea
            class="form-control"
            id="message"
            rows="4"
            placeholder="Enter your message"
          ></textarea>
        </div>
        <div class="d-grid gap-2">
          <button type="submit" class="btn btn-info text-dark fw-bold">
            Send Message
          </button>
        </div>
      </form>

      <div class="contact-info mt-5">
        <h5>
          📧 Email:
          <a href="mailto:k.hemanth114@gmail.com">k.hemanth1214@gmail.com</a>
        </h5>
        <h5>📞 Phone: <a href="tel:+918712871402">8712871402</a></h5>
        <h5>
          💼 LinkedIn:
          <a
            href="https://www.linkedin.com/in/hemanth-kumar-kathulapuram-2091bb210/"
            target="_blank"
            >Hemanth Kumar</a
          >
        </h5>
        <h5>
          📝 Resume:
          <a
            href="https://drive.google.com/file/d/1JITDaCamBYKbqfBIZEj0lzdPLIL2X32x/view?usp=drivesdk"
            target="_blank"
            >View PDF</a
          >
        </h5>
        <h5>
          💻 GitHub:
          <a href="https://github.com/Hemanthkumar1402" target="_blank"
            >Hemanthkumar1402</a
          >
        </h5>
      </div>

      <div class="text-center mt-5">
        <a href="index.html" class="btn btn-outline-info">⬅ Back to Home</a>
      </div>
    </div>
  </div>
{% endblock %}
